<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            margin: 0;
            padding: 0;
            width: 100%;

        }
        .container {
            color: crimson;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            width: 100%;
        }
        .title {
            width: 100%;
            text-align: center;
        }
        .blogs {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            height: 80vh;
            align-items: center;
        } 

        #blogs {
            width: 40%;
          padding: 3px;
            background-color: crimson;
            color: white;
            border-radius: 5px;
            flex-direction: s;
            justify-content: center;
            text-align: center;
            text-decoration: none;
           height: 100px;
          
        }
    </style>
</head>
<body>
  <div class="container">
    <%- include('./partials/nav.ejs') %>
    <div class="title">
        <h1>Blogs</h1>

    </div>
  <div class="collection">
    <div class="blogs">
<% blog.forEach(blog => { %>
   <a href="/blogs/<%= blog._id %>" id="blogs">
    <div class="blogc">
        <p><%= blog.title %></p>
       <p><%= blog.snippet %></p>
       </div>
   </a>
<% })%>
    </div>
    </div>
  </div> 
</body>
</html>